# ignore the target (output) dir
target/

# ignore test stuff
plugin-test/.scannerwork/
plugin-test/verademo-test

# ignore VS Code stuff
.vscode/

# ignore eclipse stuff
.project
.classpath
.settings/
